*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-one {
  background: linear-gradient(rgb(160, 99, 6), rgb(160, 99, 6), #ac6a06, #dd8908, #c57a07, #c57a07, #c57a07, #c57a07, #c57a07);
  height: 56px;
  positioN: relative;
  width: 100%;

  
}

.mail {
  text-align: right;
  margin-right: 10rem;
  color: #FFFFFF;
  margin-top: 23px;
}

.phone {
  margin-left:10rem;
  color: #FFFFFF;
  margin-top: 23px;
}

.header-two {
      background: linear-gradient(#9e1815, #cb1f1a, #e84f4a, rgb(229, 60, 55), rgb(229, 60, 55), rgb(229, 60, 55), rgb(229, 60, 55), rgb(229, 60, 55), rgb(229, 60, 55));
      position: absolute;
      width: 700px;
      height: 68px;
      top: 0px;
      left: 25rem;
      border-radius: 0 0 30px 30px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.45);
      align-items: center;
}

.divider {
     display: inline-block;
     width: 2px;
     height: 12px;
     background-color: #fff;
     vertical-align: baseline;
     margin: 0 7px;
}

.header-items {
  padding: 35px ;
  position:relative
  
}

.faculty {
   position: absolute;
   left: 19rem;
}

.sdg {
  
  position: absolute;
  left: 8rem;
}

.depart {
  position: absolute;
  left: 25rem;
}

.staff {
  position: absolute;
  left: 15rem;
}

.logo1 {
    width: 128px;
    height: 35.04px;
    margin: 10px 160px;
}

.uni {
  margin-top: 20px;
  margin-left: -40px;
  color:#000000;
  font-size: 16px;
  font-weight: 500;
}

.school-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.school-container a {
	display:inline-block;
	font-size:15px;
}

.school-container p {
  font-size: 12px;
}

.container-left {
	 border: 1px solid rgba(0, 0, 0, .125);
}

.container-right {
    border: 1px solid rgba(0, 0, 0, .125);
}

.lagos {
  display: flex;
}


   .sec-id {
    width: 100%;
    height: 597px;
    padding: 36px;
    background-color: #eeedea;
    margin-top: 100px;
   }

   .over {
    height: 380px; /* or max-height */

    overflow-y: auto; /* Adds vertical scrollbar only when needed */
    /* optional: hide horizontal scrollbar */
    overflow-x: hidden;
    padding-right: 10px;
    
}

.yellow {
  background-color: #ffc600;
  width: 30px;
  height: 2px;
}

.hero-section-two {
  background-image:url('../images/vc_banner_new.jpg');
  border-radius: 20px;
	background-size: cover;
  height: 50vh;
  width: 850px;
  margin-top: -10px; 
  position: relative;

}

.new-banner {
  position: absolute;
  width: 30%;
  height: 120%;
  right: 0;
  bottom: 0px;
}

.welcome {
  position: absolute;
  color:#FFFFFF;
  z-index: 2;
  width: 90%;
  left: 30px;
  top: 50px;

}

.academic {
  display: flex;
  flex-direction: row;
  border: solid 1px #dcdcdc;
  border-radius: 5px;
  padding: 10px  30px 10px 20px;
}

.school {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.post {
  position: relative;
  height: 80vh;
  width:100%;
   background: linear-gradient(rgb(160,99,6), rgb(160,99,6), #ac6a06, #dd8908, #c57a07, #c57a07, #c57a07, #c57a07, #c57a07);
   margin-top: 100px;
}

.social {
  position: absolute;
  background: linear-gradient(#9e1815, #cb1f1b, #e84f4a, rgb(229, 60, 55), rgb(229, 60, 55), rgb(229, 60, 55), rgb(229, 60, 55), rgb(229, 60, 55), rgb(229, 60, 55));
  border-radius: 0 60px 0 0;
  width: 50%;
  height: 18%;
  left:0;
  top: -20px;
  color:#ffffff;
  font-family: Comic Sans Ms;
  padding-left: 20px;
}

.social h3 {
  padding-top: 25px;
  line-height: 1;
  font-size: 23px;
  font-weight: 800;
}

.social p {
  font-size: 17px;
  font-weight: 800;
}

.brown {
  margin-top: 100px;
  border: solid 30px #9e1815;
  padding: 20px;
}

.red {
  padding:0px;
  background:linear-gradient(rgb(160,99,6), rgb(160,99,6), #ac6a06, #dd8908, #c57a07, #c57a07, #c57a07, #c57a07, #c57a07);;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.white {
  background-color: #ffffff;
  margin-left: 0;
  margin-top: 100px;
  width: 450px;
  height: 422px;
  
}

.facebook img{
    width: 160px;
    height: 62px;
    margin-left: 8rem;
}

.fb-img {
  display: flex;
  flex-direction: row;
}

.fb-uni a {
   text-decoration: none;
   display:inline-block;
}

.followers {
   display:flex;
   flex-direction: row;
}

.fb-uni {
  margin-left: 10px;
}

.fb-img img{
  height: 60px;
  width: 50px;
  border: solid 1px black;
  margin-left: 10px;
}

.page {
  margin-right: 8px;
  border: solid 1px #dcdcdc;
  background-color: #dcdcdc;
  padding: 0px 6px;
}

.page h6 {
  font-size: 13px;
}

.fol h6 {
  font-size: 13px;
}

.fb-s img{
  width: 350px;
  height: 300px;
  margin-left: 10px;
  margin-top: 5px;
}

.fb-scroll {
    height: 280px; /* or max-height */

    overflow-y: auto; /* Adds vertical scrollbar only when needed */
    /* optional: hide horizontal scrollbar */
    overflow-x: hidden;
    padding-right: 0;
      
}

.brown-one {
  margin-top: 100px;
  border: solid 20px #9e1815;
  padding: 20px;
}

.red-one {
  width: 500px;
  height: 300px;
  padding:0px;
  background:linear-gradient(rgb(160,99,6), rgb(160,99,6), #ac6a06, #dd8908, #c57a07, #c57a07, #c57a07, #c57a07, #c57a07);;
}

.year h3 {
  font-size: 17px;
  color:#fff;
  font-family: montserratsemi;
  font-weight: 600;
}

button {
  background-color: #ff0000;
  color:white;
  padding: 5px 30px;
  border: 0;
  font-family: montserratlight;
  font-size: 14px;
  margin-left: 110px;
  margin-top: 20px;
}

/*.video {
  
  position:relative;
  height: 200PX;
  width: 100%;

} */

.vd img {
  width: 300px;
  height: 150px;
  margin-left: 50px;
}

.study {
  margin: 50px 0 0 180px;
}

.admission {
  margin: 0 0 50px 180px;
}

.footer-sec {
  background-color: #311e02;
  height: 90vh;
  width:100%;
  margin-top: 50px;
}

.visitor{
  color:#ffffff; 
  font-size: 17px;
  padding-top: 50px;
  text-align: center;
  font-family: montserratsemi;
  font-weight: 900;
}

.today {
  margin-right: 150px;
  font-family: montserratsemi;;
}

.since {
  margin-left: 100px;
  font-family: montserratsemi;
}

.fot-sec {
  border-bottom:solid 1px #ffffff;
  width: 70%;
  margin-left: 210px;
  margin-top: 20px;
}

ul {
  list-style-type: none; /* Removes bullets */
  padding: 0;            /* Removes default left padding */
  margin: 0;    
}
ul a {
  text-decoration: none;
  color: #ffffff;
}

.fff {
  font-size: 13px;
  margin-top: 20px;
  margin-right: 30px;
  line-height: 1.8;
}

.ffk {
  font-size: 17px;
  font-weight: 800;
}

.last-fot {
  background: #ac6a06;
  height:50px;
  width:100%;
}

.fffgg {
  font-size: 13px;
  margin-top: 20px;
  margin-right: 30px;
  line-height: 2;
  text-decoration: none;
  color: white;
}

.icon-ft {
  padding-right: 20px;
}

.fffkkk {
  font-size: 15px;
  margin-top: 20px;
  margin-right: 30px;
  line-height: 1.8;
}

.support {
  background-color: #000000;
  width: 300px;
  padding: 15px 20px;
  z-index: 3;
  margin-top: -70px;
  margin-left: 75rem;
  text-align: center;
  
}

.support a {
  text-decoration: none;
  font-size: px;
}


