*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.chat-header {
    background: #e63946;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    padding: 25px;
    width: 50%;
    margin-left: 25rem;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.userid {
  background-color: #F08080;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-right: 30px;
}

.changeuser {
  background-color: #8B0000;
  color: #ffffff;
  border: 0;
  padding: 10px 30px;
  font-size: 15px;

}

.live-chat-demo {
  text-align: center;
}

.system-message {
  background-color: #F08080;
  padding: 10px;
  width: 50%;
  margin-left: 25rem;
  margin-bottom : 15px;
  border-radius: 12px;
}

#messageText {
  padding: 5px;
  border: 2px solid #F08080;
  border-radius: 10px;
  width: 30%;
  margin-top: 60px;
  margin-bottom: 20px;
}

#sendMessageBtn {
  background-color: aqua;
  padding: 10px 20px;
  border:0;

}